div.hidden{
    display: none
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

form{
    background: #000;
    padding: 3px;
    position: absolute;
    bottom: 0; 
    width: auto; 
}

form input {
    border: 0;
    padding: 10px;
    width: auto;
}

form button{ 
    min-width: 5%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px; 
}

#messages li {
    padding: 5px 10px;

}

#messages li:nth-child(odd) {
    background: #eee;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 80% auto;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
}

.two {
    grid-column: 2/2;
    grid-row: 1;
}


#title {
    text-align: center;
}

#select_username {
    padding: 2%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;
    min-width: 50%;
    border: solid;
    text-align: center;
}
#username {
    max-width: 100%;
}


#join_select_room {
    padding: 2%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;
    min-width: 50%;
    border: solid;
    text-align: center;
}

#choose_room_input {
    max-width: 100%;
}

#game_container {
    border: solid;
}

#tchat_container {
    border: solid;
}
